#showNumber {
  font-size: 200px;
  margin: 0;
  text-align: center;
}
.history {
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
}
.history > div {
  border: solid 5px;
  width: 80px;
  text-align: center;
}
img#headerImg {
    max-width: 100vw;
    /* min-width: 50vw; */
    max-height: 25vh;
}

header {
    display: grid;
    align-items: center;
    justify-items: center;
}