@media print {
  header,
  footer {
    display: none;
  }
}

#showCards > section {
  font-size: 30px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 1fr 100px 100px 100px 100px 100px;
  gap: 1px 1px;
  grid-template-areas:
    "card-title card-title card-title card-title card-title"
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
  justify-items: center;
  align-items: center;
  border: solid 1px;
  break-after: page;
  width: min-content;
}

.card-header {
  grid-area: card-title;
  margin: 0;
  text-align: center;
}
.card-header :is(h1, p) {
  margin: 0;
}
#showCards {
  display: grid;
  justify-content: center;
}
#showCards > section > div {
  display: grid;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  text-align: center;
  border: solid 1px;
  padding: auto;
  align-items: center;
}
